flow-package/flows/a047c49a-9181-4c8f-8b4b-671db9c76993/definition.json
{"name":"ab824c8c-6a41-4b4f-85c6-8c6d120af8d8","id":"/providers/Microsoft.Flow/flows/ab824c8c-6a41-4b4f-85c6-8c6d120af8d8","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Registro de respuestas de Forms en Excel","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"446c8590-7808-495c-8f07-c6b463997dcb","type":"User","tenantId":"bd697c1b-c481-479c-841e-c618542675c3"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-09-21T23:00:09.4033449Z","connectionKeySavedTimeKey":"2025-09-21T23:00:09.4033449Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Cuando_se_envía_una_respuesta_nueva":{"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnectionWebhook","inputs":{"parameters":{"form_id":"G3xpvYHEnEeEHsYYVCZ1w5CFbEQIeFxJjwfGtGOZfctURTlTTVJYUVJYRTVHT0YxRjZWT0NWTEJDSS4u"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"authentication":"@parameters('$authentication')"}}},"actions":{"Obtener_los_detalles_de_la_respuesta":{"runAfter":{},"type":"OpenApiConnection","inputs":{"parameters":{"form_id":"G3xpvYHEnEeEHsYYVCZ1w5CFbEQIeFxJjwfGtGOZfctURTlTTVJYUVJYRTVHT0YxRjZWT0NWTEJDSS4u","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"authentication":"@parameters('$authentication')"}},"Agregar_una_fila_a_una_tabla":{"runAfter":{"Obtener_los_detalles_de_la_respuesta":["Succeeded"]},"metadata":{"01QSIXQURC3G5RPORK75BY4ZH2DTIAR42R":"/Pendientes de aprobar/Respuestas Cuestionario.xlsx","tableId":"{B58274DF-5BEA-41F3-854C-689ABDB27710}","01QSIXQUSWXCA736TFCFFI5N5CMXE5AUGQ":"/Automation_Interest_Check.xlsx"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!1ErXdS_3AUqZgNpQrHDXXEx9Moye9MRHpeGOUEYzsbe3vNJf7QR7QYWjoQ6fULKL","file":"01QSIXQUSWXCA736TFCFFI5N5CMXE5AUGQ","table":"{B58274DF-5BEA-41F3-854C-689ABDB27710}","dateTimeFormat":"ISO 8601","item/Timestamp":"@formatDateTime(utcNow(),'dd/MM/yyyy HH:mm:ss')","item/Email":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9e7c9bd1889c4a44a420151559049d85']","item/AI_Human_Oversight":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/rbadcee9908734d07bcb9ee75ef5beae3']","item/Accessibility_Importance":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/rf4c99dbd7e5d45079479bec89e501e7b']","item/Automation_Help":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r8541c7a7f10342aca1b9a3a869afc188']","item/Daily_Task_Automation":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r0240286eb66a435aafe8c5da254d4e30']","item/Already_Use_Automation":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/re4576a01fada49b8a0d063bcf1924813']","item/Time_Saving_Estimate":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r0dae247b2a8a4a1c9526bd9ca41a16dc']","item/SaveTime_vs_ReduceWork":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/rc0f94065fcfd4d4f93e5f31a54d4f11d']","item/Useful_Tech_Word":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/reb7e105230034ef3ac895cd67ea08bbe']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"authentication":"@parameters('$authentication')"}},"Enviar_correo_electrónico_(V2)":{"runAfter":{"Agregar_una_fila_a_una_tabla":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9e7c9bd1889c4a44a420151559049d85']","emailMessage/Subject":"Confirmación de tus respuestas al formulario","emailMessage/Body":"<p class=\"editor-paragraph\">@{concat('<p>Hi! ¡Hola!</p>', '<p>Thank you for participating in our Automation Interest Check. Here’s a summary of your responses:</p>', '<p>Gracias por participar en nuestra Encuesta de Interés sobre Automatización. Aquí tienes un resumen de tus respuestas:</p>', '<ul>', '<li><strong>🕒 Timestamp / Fecha y hora:</strong> ', outputs('Agregar_una_fila_a_una_tabla')?['body/Timestamp'], '</li>', '</li>', '<li><strong>🤖 AI human oversight / Supervisión humana en IA:</strong> ', outputs('Agregar_una_fila_a_una_tabla')?['body/AI_Human_Oversight'], '</li>', '<li><strong>🌍 Accessibility importance / Importancia de la accesibilidad:</strong> ', outputs('Agregar_una_fila_a_una_tabla')?['body/Accessibility_Importance'], '</li>', '<li><strong>✨ Automation help idea / Cómo te gustaría que la automatización te ayudase:</strong> ', outputs('Agregar_una_fila_a_una_tabla')?['body/Automation_Help'], '</li>', '<li><strong>⚙️ Daily task to automate / Tarea diaria a automatizar:</strong> ', outputs('Agregar_una_fila_a_una_tabla')?['body/Daily_Task_Automation'], '</li>', '<li><strong>🛠 Already use automation tools / Ya usas herramientas de automatización:</strong> ', outputs('Agregar_una_fila_a_una_tabla')?['body/Already_Use_Automation'], '</li>', '<li><strong>⏱ Estimated time saved / Tiempo estimado ahorrado:</strong> ', outputs('Agregar_una_fila_a_una_tabla')?['body/Time_Saving_Estimate'], '</li>', '<li><strong>🔄 Save time vs reduce repetitive work / Ahorrar tiempo vs reducir trabajo repetitivo:</strong> ', outputs('Agregar_una_fila_a_una_tabla')?['body/SaveTime_vs_ReduceWork'], '</li>', '<li><strong>💡 Word for useful technology / Palabra que define tecnología útil:</strong> ', outputs('Agregar_una_fila_a_una_tabla')?['body/Useful_Tech_Word'], '</li>', '</ul>',\r\n'<p>Thank you for sharing your thoughts!</p>',\r\n'<p>¡Gracias por compartir tus ideas!</p>')}</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"outputs":{}},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-2321359e-6867-4f4c-a189-67ccd724b6e7","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified","apiName":"microsoftforms","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-f0944b57-2877-47ea-bbf1-d7b67fce1e18","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_office365":{"connectionName":"shared-office365-7faeb2e4-3de9-4d39-92cf-c66f447292cc","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}